.d-root{
	--d-black: #22252a;
	--d-grey: #2d3035;
	--d-grey-light: #34373d;
	--d-red: #DB6574;
	--d-main-white: #a5a7ab;
	--d-secondary-white: #34373d;
	--d-third-white: #6a6c70;
	--d-purple: #864DD9;
	--d-purple-light: #CF53F9;
	--d-border: #34373d;
	--d-border-light: #454649;
}